<p id="notice"><%= notice %></p>


<p>
  <strong>First name:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @dog.dob %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed.name %>
</p>

<p>
  <strong>Medical Condition:</strong>
  <%= @dog.medical.condition %>
</p>


<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dog_path %>
